<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:8889/social_network</property>
		<property name="hibernate.connection.username">mh</property>
		<property name="hibernate.connection.password">password</property>

		<!-- JDBC connection pool size -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all SQL to stdout -->
		<property name="show_sql">false</property>

		<property name="hibernate.id.new_generator_mappings">false</property>

		<mapping class="com.lodenrogue.socialnetwork.model.User" />
		<!-- <mapping class="com.lodenrogue.socialnetwork.model.Friendship" /> -->
		<mapping class="com.lodenrogue.socialnetwork.model.Post" />
		<mapping class="com.lodenrogue.socialnetwork.model.Comment" />
		<!-- <mapping class="com.lodenrogue.socialnetwork.model.FriendRequest" 
			/> -->
		<!-- <mapping class="com.lodenrogue.socialnetwork.model.Like" /> -->

	</session-factory>
</hibernate-configuration>